@import "../../button";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.intro {
  display: flex;
  justify-content: space-between;
  p {
    margin-top: auto;
    span {
      font-weight: bold;
      display: block;
      margin: 10px 0;
      font-size: 1.2rem;
    }
  }
  img {
    width: 30%;
  }
}

.continue {
  @include button;
  margin-top: 1.5rem;
  @media only screen and ("min-width: 600px") {
    margin-top: auto;
  }
}
