/* You can add global styles to this file, and also import other style files */
span.__divider {
  display: block;
  width: calc(100% - 4px);
  height: 1px;
  background: rgba(0,0,0,.2);
  margin: 2rem 0 1rem !important;
}
